NET "CLK" LOC = "E12" | IOSTANDARD = LVCMOS33 ;

NET "RST" LOC = "V8" | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE ;
NET "SLOW" LOC = "U10" | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE ;

NET "R<3>" LOC = "C8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "R<2>" LOC = "B8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "R<1>" LOC = "B3" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "R<0>" LOC = "A3" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "G<3>" LOC = "D6" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "G<2>" LOC = "C6" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "G<1>" LOC = "D5" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "G<0>" LOC = "C5" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "B<3>" LOC = "C9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "B<2>" LOC = "B9" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "B<1>" LOC = "D7" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "B<0>" LOC = "C7" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "HSYNC" LOC = "C11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "VSYNC" LOC = "B11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

NET "SD_A<15>" LOC = "W3" | IOSTANDARD = SSTL18_II ;
NET "SD_A<14>" LOC = "V4" | IOSTANDARD = SSTL18_II ;
NET "SD_A<13>" LOC = "V3" | IOSTANDARD = SSTL18_II ;
NET "SD_A<12>" LOC = "Y2" | IOSTANDARD = SSTL18_II ;
NET "SD_A<11>" LOC = "V1" | IOSTANDARD = SSTL18_II ;
NET "SD_A<10>" LOC = "T3" | IOSTANDARD = SSTL18_II ;
NET "SD_A<9>" LOC = "W2" | IOSTANDARD = SSTL18_II ;
NET "SD_A<8>" LOC = "W1" | IOSTANDARD = SSTL18_II ;
NET "SD_A<7>" LOC = "Y1" | IOSTANDARD = SSTL18_II ;
NET "SD_A<6>" LOC = "U1" | IOSTANDARD = SSTL18_II ;
NET "SD_A<5>" LOC = "U4" | IOSTANDARD = SSTL18_II ;
NET "SD_A<4>" LOC = "U2" | IOSTANDARD = SSTL18_II ;
NET "SD_A<3>" LOC = "U3" | IOSTANDARD = SSTL18_II ;
NET "SD_A<2>" LOC = "R1" | IOSTANDARD = SSTL18_II ;
NET "SD_A<1>" LOC = "T4" | IOSTANDARD = SSTL18_II ;
NET "SD_A<0>" LOC = "R2" | IOSTANDARD = SSTL18_II ;

NET "SD_DQ<7>" LOC = "H2" | IOSTANDARD = SSTL18_II ;
NET "SD_DQ<6>" LOC = "K4" | IOSTANDARD = SSTL18_II ;
NET "SD_DQ<5>" LOC = "L1" | IOSTANDARD = SSTL18_II ;
NET "SD_DQ<4>" LOC = "L5" | IOSTANDARD = SSTL18_II ;
NET "SD_DQ<3>" LOC = "L3" | IOSTANDARD = SSTL18_II ;
NET "SD_DQ<2>" LOC = "K1" | IOSTANDARD = SSTL18_II ;
NET "SD_DQ<1>" LOC = "K5" | IOSTANDARD = SSTL18_II ;
NET "SD_DQ<0>" LOC = "H1" | IOSTANDARD = SSTL18_II ;

NET "SD_BA<2>" LOC = "P5" | IOSTANDARD = SSTL18_II ;#?
NET "SD_BA<1>" LOC = "R3" | IOSTANDARD = SSTL18_II ;
NET "SD_BA<0>" LOC = "P3" | IOSTANDARD = SSTL18_II ;

NET "SD_RAS" LOC = "M3" | IOSTANDARD = SSTL18_II ; #?
NET "SD_CAS" LOC = "M4" | IOSTANDARD = SSTL18_II ;
NET "SD_WE" LOC = "N4" | IOSTANDARD = SSTL18_II ;
NET "SD_CK_N" LOC = "M2" | IOSTANDARD = SSTL18_II ;
NET "SD_CK_P" LOC = "M1" | IOSTANDARD = SSTL18_II ;
NET "SD_CKE" LOC = "N3" | IOSTANDARD = SSTL18_II ;
NET "SD_CS" LOC = "M5" | IOSTANDARD = SSTL18_II ;
NET "SD_UDM" LOC = "E3" | IOSTANDARD = SSTL18_II ;
NET "SD_UDQS_N" LOC = "J5" | IOSTANDARD = SSTL18_II ;
NET "SD_UDQS_P" LOC = "K6" | IOSTANDARD = SSTL18_II ;
NET "SD_LDM" LOC = "J3" | IOSTANDARD = SSTL18_II ;
NET "SD_LDQS_N" LOC = "K2" | IOSTANDARD = SSTL18_II ;
NET "SD_LDQS_P" LOC = "K3" | IOSTANDARD = SSTL18_II ;
NET "SD_ODT" LOC = "P1" | IOSTANDARD = SSTL18_II ;
NET "SD_LOOP_IN" LOC = "H4" | IOSTANDARD = SSTL18_II ;
NET "SD_LOOP_OUT" LOC = "H3" | IOSTANDARD = SSTL18_II ;

